#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie
export DEB_CFLAGS_MAINT_APPEND=-Wp,-D_FORTIFY_SOURCE=2 -fPIC -Wno-missing-field-initializers -Wno-implicit-fallthrough -I/usr/include/luajit-2.1
export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed -pie -lm -lluajit-5.1 -ldl
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PKGS = nginx nginx-dbg

BUILDDIR_nginx = $(CURDIR)/debian/build-nginx
BUILDDIR_nginx_debug = $(CURDIR)/debian/build-nginx-debug
INSTALLDIR = $(CURDIR)/debian/nginx
BASEDIR = $(CURDIR)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	ifeq (${NUMJOBS}, 0)
		NUMJOBS = 1
	endif
else
	NUMJOBS = 1
endif

DO_PKGS = $(PKGS)

config.env.%:
	dh_testdir
	mkdir -p $(BUILDDIR_$*)
	cp -Pa $(CURDIR)/auto $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/conf $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/configure $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/contrib $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/man $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/src $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/lua-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/echo-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/headers-more-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/lua-upstream-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/nginx-dav-ext-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/nginx-http-shibboleth $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/nginx-rtmp-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/nginx-sorted-querystring-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/ngx_cache_purge $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/ngx_devel_kit $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/ngx_http_enhanced_memcached_module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/ngx_http_pipelog_module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/ngx_http_secure_download $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/memc-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/redis2-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/set-misc-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/srcache-nginx-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/nginx-sxg-module $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/lua-resty-jump-consistent-hash $(BUILDDIR_$*)/
	cp -Pa $(CURDIR)/njs $(BUILDDIR_$*)/
	touch $@

config.status.nginx: config.env.nginx
	cd $(BUILDDIR_nginx) && \
	CFLAGS="" ./configure --prefix=/home/xtreamcodes/iptv_xtream_codes/nginx \
		--lock-path=/home/xtreamcodes/iptv_xtream_codes/tmp/nginx.lock \
		--conf-path=/home/xtreamcodes/iptv_xtream_codes/nginx/conf/nginx.conf \
		--error-log-path=/home/xtreamcodes/iptv_xtream_codes/logs/error.log \
		--http-log-path=/home/xtreamcodes/iptv_xtream_codes/logs/access.log \
		--pid-path=/home/xtreamcodes/iptv_xtream_codes/nginx.pid \
		--with-http_ssl_module \
		--with-http_realip_module \
		--with-http_addition_module \
		--with-http_sub_module \
		--with-http_dav_module \
		--with-http_gunzip_module \
		--with-http_gzip_static_module \
		--with-http_v2_module \
		--with-pcre \
		--with-http_random_index_module \
		--with-http_secure_link_module \
		--with-http_stub_status_module \
		--with-http_auth_request_module \
		--with-threads \
		--with-mail \
		--with-mail_ssl_module \
		--with-file-aio \
		--with-cpu-opt=generic \
		--with-openssl=$(CURDIR)/openssl-OpenSSL_1_1_1h \
		--add-module=$(CURDIR)/ngx_http_geoip2_module \
		--with-cc-opt="$(CFLAGS)" \
		--with-ld-opt="$(LDFLAGS)"
	touch $@
	(cd $(BUILDDIR_nginx)/lua-resty-jump-consistent-hash && make libjchash.so)

config.status.nginx_debug: config.env.nginx_debug
	cd $(BUILDDIR_nginx_debug) && \
	CFLAGS="" ./configure --prefix=/home/xtreamcodes/iptv_xtream_codes/nginx \
		--lock-path=/home/xtreamcodes/iptv_xtream_codes/tmp/nginx.lock \
		--conf-path=/home/xtreamcodes/iptv_xtream_codes/nginx/conf/nginx.conf \
		--error-log-path=/home/xtreamcodes/iptv_xtream_codes/logs/error.log \
		--http-log-path=/home/xtreamcodes/iptv_xtream_codes/logs/access.log \
		--pid-path=/home/xtreamcodes/iptv_xtream_codes/nginx.pid \
		--with-http_ssl_module \
		--with-http_realip_module \
		--with-http_addition_module \
		--with-http_sub_module \
		--with-http_dav_module \
		--with-http_gunzip_module \
		--with-http_gzip_static_module \
		--with-http_v2_module \
		--with-pcre \
		--with-http_random_index_module \
		--with-http_secure_link_module \
		--with-http_stub_status_module \
		--with-http_auth_request_module \
		--with-threads \
		--with-mail \
		--with-mail_ssl_module \
		--with-file-aio \
		--with-cpu-opt=generic \
		--with-openssl=$(CURDIR)/openssl-OpenSSL_1_1_1h \
		--add-module=$(CURDIR)/ngx_http_geoip2_module \
		--with-cc-opt="$(CFLAGS)" \
		--with-ld-opt="$(LDFLAGS)" \
		--with-debug
	touch $@

build-arch.%: config.status.%
	dh_testdir
	dh_prep
	$(MAKE) -j$(NUMJOBS) -C $(BUILDDIR_$*) build

build-arch: build-arch.nginx build-arch.nginx_debug
	dh_testdir
	touch $@

build-dbg.%: install
	dh_testdir
	dh_strip --dbg-package=nginx-dbg

build-dbg: build-dbg.nginx
	dh_testdir
	touch $@

build-indep:
	dh_testdir
	touch $@

build: build-arch build-indep
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f $(CURDIR)/objs
	rm -rf $(CURDIR)/debian/build-*
	rm -f $(CURDIR)/debian/*.init
	find $(CURDIR) -maxdepth 1 -size 0 -delete

post-build:
	mv $(BUILDDIR_nginx_debug)/objs/nginx $(BUILDDIR_nginx_debug)/objs/nginx-debug
	ln -s $(BUILDDIR_nginx)/objs $(CURDIR)/objs
	cp $(BUILDDIR_nginx)/objs/nginx.8 $(BUILDDIR_nginx)/objs/nginx-debug.8

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/sbin/
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/modules
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/conf
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/logs
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/tmp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/client_temp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/proxy_temp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/fastcgi_temp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/uwsgi_temp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/scgi_temp
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/conf.d
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/share/nginx
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/html
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/share/nginx/html
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/cache/nginx
	mkdir -p $(INSTALLDIR)/home/xtreamcodes/iptv_xtream_codes/nginx/lib/nginx/lua

binary-indep: build post-build install
	dh_testdir
	dh_testroot
	dh_installman -i -pnginx
	dh_installdebconf
	sed -e 's/%%PROVIDES%%/nginx/g' \
		-e 's/%%DEFAULTSTART%%/2 3 4 5/g' \
		-e 's/%%DEFAULTSTOP%%/0 1 6/g' \
		< debian/nginx.init.in > debian/nginx.init
	dh_installinit -i -pnginx --no-restart-on-upgrade --no-start --name=nginx
	sed -e 's/%%PROVIDES%%/nginx-debug/g' \
		-e 's/%%DEFAULTSTART%%//g' \
		-e 's/%%DEFAULTSTOP%%/0 1 2 3 4 5 6/g' \
		< debian/nginx.init.in > debian/nginx-debug.init
	dh_installinit -i -pnginx --no-restart-on-upgrade --no-start --noscripts --name=nginx-debug
	dh_installlogrotate -i -pnginx --name=nginx

binary-arch: install build-dbg
	dh_testdir
	dh_testroot
	dh_installchangelogs -a
	dh_installdocs -a
	dh_lintian -a
	dh_link -aA
	dh_compress -a
	dh_perl -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb $(foreach p,$(DO_PKGS),-p$(p))

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
